body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(20, 25px);
  grid-template-rows: repeat(20, 25px);
  gap: 2px;
  margin: 20px auto;
  width: fit-content;
}

.cell {
  width: 25px;
  height: 25px;
  background-color: rgb(101, 77, 164);
  border: 1px solid #e6cece;
  cursor: pointer;
}

.wrong {
  background-color: #ffcccc;
}

.correct {
  background-color: gold;
}

.row-highlight {
  background-color: #4b889c;
}

.col-highlight {
  background-color: #4b889c;
}
